@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: black;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  background-image: linear-gradient(hsl(213, 19%, 18%), hsl(216, 12%, 8%));
  padding: 2rem;
  border-radius: 2rem;
}

.star {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(25, 97%, 53%);
  border-radius: 50%;
  background-color: hsl(214, 14%, 23%);
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.info {
  width: 20rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.info p {
  color: hsl(217, 12%, 63%);
}

.btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  color: hsl(217, 12%, 63%);
  background-color: hsl(213, 19%, 18%);
}
.active {
  background-color: hsl(217, 12%, 63%);
  color: white;
}
.btn:hover {
  background-color: hsl(25, 97%, 53%);
  color: white;
}
.submit-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  width: 19rem;
  border: none;
  height: 2.5rem;
  border-radius: 2rem;
  background-color: hsl(25, 97%, 53%);
  color: white;
}

.submit:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
}

.main-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-image: linear-gradient(hsl(213, 19%, 18%), hsl(216, 12%, 8%));
  padding: 2rem;
  border-radius: 2rem;
}

.out-of {
  background-color: hsl(213, 19%, 18%);
  color: hsl(25, 97%, 53%);
  border-radius: 0.2rem;
  width: 12rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.thank-message {
  width: 20rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.8rem;
}

.off {
  display: none;
}
